* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
body {
    overflow-x: hidden;
    /* background-image: linear-gradient(to top right, #1b4f6d,  #091f2b);  */
   
    
  }
  body:before {
    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background: url(./img4.jpg);
    z-index: -1; 
    filter: alpha(opacity=40);
    -ms-filter: "alpha(opacity=40)";    
    -webkit-filter: blur(5px);
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */

}
header {
  background-color: #0E2D3F; 

} 

li {
  list-style: none;
}  
a {
  color: azure;
  text-decoration: none;

}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-branding {
  font-size: 2rem;
}
.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  text-shadow: azure 1px 14px 5px;;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: azure;
}
.logo {
  width: 70px;
}
.img-serial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto;
  
}
.menu {
  width: 50%;
}
.footer{
  background-image: linear-gradient(to top right, #1b4f6d,  #091f2b);  
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.footer-text {
  color: azure;
  
  
}
@media (max-width:768px) {
  .menu {
    width: 100%;
  }
  .nav-branding {
    margin-left: 40%;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #0E2D3F,  #386784);  
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.nav-item {
  margin: 16px 0;
}
.nav-menu.active {
  left: 0;
}
}
